.block{ 
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-height:  800px;
    border: 1px solid black;

   
}
  
.content-block{
    padding : 10px;
    
}


#textData{
    height: 200px;
    width: 100%;
}

.row-horizon {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }
  .row-horizon > .col-xs-12 {
    width: 75%;
  }
  .row-horizon > .col-xs-11 {
    width: 67.5%;
  }
  .row-horizon > .col-xs-10 {
    width: 60%;
  }
  .row-horizon > .col-xs-9 {
    width: 52.5%;
  }
  .row-horizon > .col-xs-8 {
    width: 45%;
  }
  .row-horizon > .col-xs-7 {
    width: 37.5%;
  }

  .border {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    background-color: rgba(11, 156, 49, 0.4);
    border: 5px solid;
    border-image: ( black)1;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redborder {
    background-color: rgba(255, 0, 0, 0.6);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 5px solid;
    border-image: ( black)1;
}

.col {
    padding: 1rem;
}

.table {
    padding: 0.5rem;
    border-spacing: 0.5rem 0.25rem;
}

.Row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    overflow-y: auto;
}

.colBlockchain {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    justify-content: space-between;
}

.labelData {
    float: left;
    font-weight: bold;
}

.peers {
    text-align: start;
}

.textareaData {
    margin: 0px 40px 0px 0px;
    height: 214px;
    width: 700px;
}

.textareaHash {
    margin: 0px 40px 0px 0px;
    height: 50px;
    width: 700px;
}

.textareaTx {
    margin: 0px 40px 0px 0px;
    height: 30px;
    width: 100px;
}

.mineButton {
    background: rgb(73, 79, 82);
    color: white;
    border-radius: 14px;
    font-size: 40px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 5px;
}